<div class="container">
    <div class="col-md-8 offset-md-2">
        <div class="register-user">
            <mat-card>
                <mat-card-title class="text-center">
                    Registration Form
                </mat-card-title>
                <hr/>
                <mat-card-content>
                    <form [formGroup]="registrationForm">
                        <mat-form-field class="form-field">
                            <input type="text" matInput formControlName="name" placeholder="Name" >
                        </mat-form-field>
                        <mat-error *ngIf="submitted && registrationForm.get('name').hasError('required')
                                                    ">Username Required!</mat-error>
                        <mat-form-field class="form-field">
                            <input type="password" matInput formControlName="password" placeholder="Password">
                        </mat-form-field>
                        <mat-error *ngIf="submitted && registrationForm.get('password').hasError('required')
                                                                            ">Password Required!</mat-error>
                        <mat-form-field class="form-field">
                            <input type="email" matInput formControlName="email" placeholder="Email">
                        </mat-form-field>
                        <mat-error *ngIf="submitted && registrationForm.get('email').hasError('required')
                                           ">Email Required!</mat-error>
                        <mat-error *ngIf="registrationForm.get('email').hasError('email')
                                                                   ">Invalid Email!</mat-error>
                    </form>
                </mat-card-content>
                <mat-card-actions class="text-center">
                        <button color="primary" mat-raised-button (click)="submit()">Submit</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
